@font-face {
    font-family: "ZonaPro-ExtraBoldItalic";
    src: url("https://db.onlinewebfonts.com/t/1c8efb673713645fa947b465d9cbc8e1.eot");
    src: url("https://db.onlinewebfonts.com/t/1c8efb673713645fa947b465d9cbc8e1.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1c8efb673713645fa947b465d9cbc8e1.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/1c8efb673713645fa947b465d9cbc8e1.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/1c8efb673713645fa947b465d9cbc8e1.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/1c8efb673713645fa947b465d9cbc8e1.svg#ZonaPro-ExtraBoldItalic")format("svg");
}
:root{
    --color-blue-escuro:#0D40A6;
    --color-blue-claro:#1A80D9;
    --color-blue-claro-2:#1E91D9;
    --color-blue-agua:#3DF2F2;
    --color-branco:#F2F2F2;
    --font-logo:'ZonaPro-ExtraBoldItalic';
}

body{
    background-size: cover;
    background-attachment: fixed;
    background-image: url('imagens/favicon/apple-touch-icon.png'), linear-gradient(to bottom, #140644, #3737fa);

    background-attachment: fixed;
}
            
div{
    display:block;
    justify-content: center;
    background-image: linear-gradient(to top, #0D40A6,#1A80D9);
    box-shadow: 0px 2px 10px var(--color-branco);
    border-radius: 20px;
     min-width: 230px;
    max-width: 100%;
    margin: auto;
    width: 350px;
    padding-bottom: 10px;
    margin-top: 220px;
}
 
div h1{
    min-width: 230px;
    max-width: 100%;
    font-family: var(--font-logo);
    color: var(--color-branco);
    text-align: center;
    padding-top: 10px;
}

 div  p{
    color: var(--color-branco);
    
}

 div > input{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
   padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    color: black;
    font-size: 16px;
     
    min-width: 100px;
   
}

input::placeholder{
    color: var(--color-branco);
    opacity: 0.5;
}
input#nome{
    color: var(--color-branco);
}
input#senha{
    color: var(--color-branco);
}
div button > a{
    display: block;
    margin: 0 auto;
    text-align: center;
    text-decoration:none;
    color: black;
    font-size: 16px;
    font-family: var(--font-logo);
}
div button {
    display: block;
    margin: 0 auto;
    margin-top: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-branco);
    cursor: pointer;
}

div button > a:hover{
    text-decoration: none;
    color:var(--color-branco);
}
div button:hover{
    background-color: dimgray;
    color: var(--color-branco);
    box-shadow: 0px 2px 5px white;
    transition: 0.5s;
}

.link {
    font-size: small;
    color: black;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    font-family: var(--font-logo);
}

a:hover{
    color:var(--color-blue-agua);
    text-align: center;
    transition: 0.5s;
}
