:root{
    --color-blue-escuro:#0D40A6;
    --color-blue-claro:#1A80D9;
    --color-blue-claro-2:#1E91D9;
    --color-blue-agua:#3DF2F2;
    --color-branco:#F2F2F2;
    --font-logo:'ZonaPro-ExtraBoldItalic';
}

@font-face {
    font-family: "ZonaPro-ExtraBoldItalic";
    src: url("https://db.onlinewebfonts.com/t/1c8efb673713645fa947b465d9cbc8e1.eot");
    src: url("https://db.onlinewebfonts.com/t/1c8efb673713645fa947b465d9cbc8e1.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1c8efb673713645fa947b465d9cbc8e1.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/1c8efb673713645fa947b465d9cbc8e1.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/1c8efb673713645fa947b465d9cbc8e1.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/1c8efb673713645fa947b465d9cbc8e1.svg#ZonaPro-ExtraBoldItalic")format("svg");
}
*{ 
    margin: 0;
    box-sizing: border-box;
     font-family: var(--font-logo);
}
body{
    text-align: center;
    line-height: 100px;
    background: linear-gradient(to bottom, #0D40A6, #1A80D9, #F2F2F2);
    background-attachment: fixed;
}
h1 {
  background: linear-gradient(to right, var(--color-blue-claro), var(--color-branco));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-attachment: fixed;
}
h2{
    font-size: 30px;
    background: linear-gradient(to right, var(--color-blue-claro),transparent);
    color: var(--color-branco);
    border-radius: 200px;
    margin-left: 200px;
    margin-right: 200px;
}

div{
    display: grid;
    text-align: center;
    grid-auto-flow: column;
    align-content: center;
    align-items: center;
    justify-items: center;
    border-radius: 20px;
}
div > img{
   border-radius: 20px;
    box-shadow: 0px 2px 10px var(--color-branco);
    width: 200px;
    transition: 0.5s;
     margin-top: 100px;
}
div > img:hover{
    width: 300px;
}
.text-pagamento p{
     font-size: 50px;
    
}
